* {
    margin: 0%;
    padding: 0%;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/img/steam.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans";    

}




/* <!----------------------------------------// BODY SECCIONES //----------------------------------------> */
.body {
    background: url(../assets/img/fondo_steam_2.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans";

}

.div__logo img {
    width: 50%;
}

/* <!----------------------------------------// Inicio //----------------------------------------> */

.main a{
    position:absolute;
    top: 55%;
    left: 46%;
}

/* <!----------------------------------------// Footer //----------------------------------------> */


footer{
    text-align: center;  
    width: 100%;
    padding: 1%;
    background-color: rgba(0, 38, 255, 0.137);
    position:fixed;
    bottom: 0%;
}

footer p{
    color: aliceblue;
}

.div__footer{
    margin-top: -2%;
}

.div__footer {

    position: fixed;
    width: 100vw;
    top: 97%;
    color: rgba(240, 255, 255, 0.979);

}

.img__footer {
    position: fixed;
    left: 95%;

}

.img__footer1 {
    position: fixed;
    left: 92%;

}

/* <!----------------------------------------// COMUNIDAD //----------------------------------------> */

.comunidad {
    margin-top: 10%;
    margin-left: 10%;

}

.h1__comunidad {
    font-size: xx-large;
    color: white;
}

.h2__comunidad {
    font-size: medium;
    color: white;
}

.busqueda__comunidad {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 30px 1px;
    gap: 30%;

}

.p__comunidad {
    height: 40%;
}

.p__comunidad input {
    width: 170%;
    background-color: rgb(255, 255, 255);
}

.p__comunidad2 input {
    width: 170%;
}

.boton__comunidad {
    width: 150%;
    height: 80%;
    background-color: rgba(0, 4, 247, 0.39);
    border-radius: 50%;
}

.boton__comunidad a {
    text-decoration: none;
    font-size: large;
    color: rgb(255, 255, 255);

}



/* <!----------------------------------------// TIENDA //----------------------------------------> */



.section__tienda {
    display: grid;
    justify-items: center;
    gap: 30%;

}


.section__tienda p {
    background-color: rgba(70, 11, 158, 0.288);
    width: 100%;
    text-align: center;
}

.section__busqueda {

    margin-top: 5%;


}

.imput__tienda--barra {
    width: 50%;

}

.tienda__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1%;


}

/* <!----------------------------------------// QUIENES SOMOS //----------------------------------------> */

.nav__logo--quienes {
    margin-top: 10%;
    height: 50%;

}

.nav__logo--quienes img {
    margin-left: 10%;
}

.quienes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-start: 1;
}

.h1__quienes {
    grid-column-start: 1;
    color: azure;
    margin-left: 10%;
}

.h2__quienes {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: larger;
    text-align: center;
    color: aliceblue;
    margin-left: 15%;
    height: 100%;
    width: 70%;

}

.boton__descarga {
    margin-left: 30%;
}



/* <!----------------------------------------// AYUDA //----------------------------------------> */

.ayuda {
    background-color: rgba(0, 242, 250, 0.205);




}

.h1__ayuda {
    margin-left: 10%;
    color: rgb(240, 248, 255);


}

.h2__ayuda {
    color: aliceblue;
    font-size: medium;
    margin-top: 1%;
    margin-left: 10%;
}

.div {
    text-align: center;

}

.div__input {

    width: 75%;

}

.form {

    text-align: center;
    color: rgb(235, 243, 237);
}

/* <!----------------------------------------// INICIAR SESION //----------------------------------------> */

.section__sesion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    color: aliceblue;
    font-size: larger;

}

.p__olvidado a {
    color: aliceblue;
}

.p__terminos {
    font-size: medium
}

select {
    margin-left: 25%;
}


/*-----------------------MEDIA QUERIE--------------------------------------------*/

@media only screen and (max-width: 991px) {

    /* <!----------------------------------------// Inicio //----------------------------------------> */

.main a{
    position:fixed;
    top: 55%;
    left: 43%;
}

body {
    background: url(../assets/img/steam33.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans";
    position: relative;
}


    /* <!----------------------------------------// TIENDA //----------------------------------------> */



    .section__tienda {
        display: grid;
        justify-items: center;
        gap: 5%;
    }

    .section__busqueda {
        padding-top: 6%;
    }


    .tienda__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1%;
    }


    /* <!----------------------------------------// COMUNIDAD //----------------------------------------> */
    .busqueda__comunidad {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30%;
        margin: 60px 1px;
        gap: 30%;

    }

    .busqueda__comunidad p {
        right: 20%;
        position: relative;
    }

    .h1__comunidad {
        font-size: xx-large;
        color: white;
        text-align: center;


    }

    .h2__comunidad {
        font-size: large;
        color: white;
        text-align: center;

    }

    /* <!----------------------------------------// INICIAR SESION //----------------------------------------> */

    .section__sesion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 5%;
        text-align: center;
        color: aliceblue;
        font-size: larger;
    }

    .main__cuenta {
        margin-top: -5%;
    }

    .p__olvidado a {
        color: aliceblue;
    }

    .p__terminos {
        font-size: medium
    }



    /* <!----------------------------------------// Footer //----------------------------------------> */

    .footer__comunidad--inicio--quienes--sesion{
        position: fixed;
    }

    footer{
        text-align: center;  
        width: 100%;
        padding: 1%;
        background-color: rgba(0, 38, 255, 0.137);
        position:sticky;
        bottom: 0%;
    }
    
    .img__footer {
        position: fixed;
        left: 95%;
    
    }
    
    .img__footer1 {
        position: fixed;
        left: 87%;
    
    }
}

/*-----------------------MEDIA QUERIE--------------------------------------------*/

@media only screen and (max-width: 567px) {

    /* <!----------------------------------------// INICIO //----------------------------------------> */

    body {
        background: url(../assets/img/steamcelular.png);
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: "Open Sans";
        position: relative;
    }


    /* <!----------------------------------------// QUIENES_SOMOS //----------------------------------------> */

    .quienes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .h2__quienes {
        grid-column-start: 1;
        grid-row-start: 4;
        font-size: larger;
        text-align: center;
        color: aliceblue;
        margin-left: 15%;
        height: 100%;
        width: 70%;

    }



    /* <!----------------------------------------// TIENDA //----------------------------------------> */


    .section__tienda {
        display: grid;
        justify-items: center;

    }

    .tienda__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1%;
    }

    .section__sesion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 5%;
        text-align: center;
        color: aliceblue;
        font-size: larger;
    }

    .main__cuenta {
        margin-top: -20%;
    }

    .p__olvidado a {
        color: aliceblue;
    }

    .p__terminos {
        font-size: medium
    }

    /* <!----------------------------------------// COMUNIDAD //----------------------------------------> */
    .busqueda__comunidad {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0%;

    }

    .busqueda__comunidad p {
        position: relative;
        right: 35%;
    }

    .div__boton {
        position: relative;
        right: 8%;
        grid-row-start: 1;
        padding: 20%;
    }

    /* <!----------------------------------------// INICIAR SESION //----------------------------------------> */

    .main__cuenta {
        margin-top: 1%;
    }


    /* <!----------------------------------------// Footer //----------------------------------------> */


    .footer__inicio{
        position:fixed;
    }

    footer{
        text-align: center;  
        width: 100%;
        padding: 1%;
        background-color: rgba(0, 38, 255, 0.137);
        position:sticky;
        bottom: 0%;
    }
    
    .img__footer {
        position: fixed;
        left: 95%;
    
    }
    
    .img__footer1 {
        position: fixed;
        left: 87%;
    
    }

}