
// menu posision de boton 
.menu{
    position: absolute;
    top: 55%;
    left: 46%;
}

// footer de las paginas
.footer{
    text-align: center;  
    width: 100%;
    padding: 1%;
    background-color: rgba(0, 38, 255, 0.137);
    bottom: 0%;
}    