/* <!----------------------------------------// Footer //----------------------------------------> */

footer {
    @extend .footer;
    position: fixed;

    p {
        color: aliceblue;
    }

    div {
        margin-top: -2%;
        position: fixed;
        width: 100vw;
        top: 97%;
        color: rgba(240, 255, 255, 0.979);

    }

    img {
        position: fixed;
    }
}

.img__footer {
    left: 95%;
}

.img__footer1 {
    left: 92%;
}

/*-----------------------MEDIA QUERIE--------------------------------------------*/

@media only screen and (max-width: 567px) {

    .footer__sesion--quienes {
        position: sticky;
    }

}