@import "_mixin";
@import "_extend";
@import "../variables/variables";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

/* <!----------------------------------------// Inicio //----------------------------------------> */
.main {
    @extend .menu;
}

.index__container {
    @include grilla(grid, 3, 1, 15%);
    position: absolute;
    width: 90%;
    left: 5%;
    top: 64%;

    div {
        border-radius: 60px;
        box-shadow: 0 0 15px #ddd;
        background: #fff;
        width: 85%;
    }
}

/* <!----------------------------------------// TIENDA //----------------------------------------> */


.tienda {
    text-align: center;

    .field {
        display: flex;
        position: realtive;
        margin: 5em auto;
        width: 70%;
        flex-direction: row;
        box-shadow:
            1px 1px 0 rgb(0, 140, 255),
            2px 2px 0 rgb(0, 140, 255),
            3px 3px 0 rgb(0, 140, 255),
            4px 4px 0 rgb(0, 140, 255),
            5px 5px 0 rgb(0, 140, 255),
            6px 6px 0 rgb(0, 140, 255),
            7px 7px 0 rgb(0, 140, 255);

        input[type=text],
        button {
            display: block;
            font: 1.2em 'Montserrat Alternates';
        }

        input[type=text] {
            flex: 1;
            padding: 0.6em;
            border: 0.2em solid rgb(0, 140, 255);
        }

        button {
            padding: 0.6em 0.8em;
            background-color: rgb(127, 171, 214);
            color: rgb(252, 252, 252);
            border: none;
        }

    }

    section {
        @include grilla(grid, 6, 1, 0%);
        grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
        margin-top: 10%;
        border-radius: 10px;
        box-shadow: 0 0 15px rgb(0, 162, 255);

        img {
            width: 90%;
        }

    }
}

/* <!----------------------------------------// COMUNIDAD //----------------------------------------> */

.comunidad {
    position: relative;
    margin-top: 5%;
    width: 40%;
    left: 11%;
    align-items: center;


    h1 {
        font-size: xx-large;
        color: map-get($map: $pallets, $key: primary);
    }

    h2 {
        font-size: medium;
        color: map-get($map: $pallets, $key: primary);
    }
}

.busqueda__comunidad {

    @include grilla(grid, 2, 1, 30%);
    justify-items: center;
    margin: 30px 1px;

    p {
        height: 40%;
    }

    input {
        width: 250%;
        background-color: map-get($map: $pallets, $key: primary);
    }

    button {
        width: 150%;
        height: 80%;
        background-color: rgba(0, 4, 247, 0.39);
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        font-size: large;
        color: rgb(255, 255, 255);
    }
}

.video {
    width: 35%;
    background-color: rgba(221, 221, 221, 0.219);
    margin-left: 11%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 162, 255);

    video {
        text-align: center;
        position: relative;
        width: 80%;
        align-items: center
    }
}


/* <!----------------------------------------// QUIENES SOMOS //----------------------------------------> */

.quienes {
    @include grilla(grid, 2, 1, 0%);
    margin-top: 2%;

    div {

        // margin-top: 15%;
        height: 50%;
    }

    img {
        margin-left: 10%;
    }

    h1 {
        grid-column-start: 1;
        color: rgb(0, 162, 255);
        margin-left: 10%;
    }

}

.h2__quienes {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: larger;
    text-align: center;
    color: map-get($map: $pallets, $key: primary);
    margin-left: 15%;
    height: 100%;
    width: 70%;
}

.boostrap__quienes {
    margin-top: 2%;
}



/* <!----------------------------------------// AYUDA //----------------------------------------> */

.ayuda {
    position: relative;
    background-color: rgba(0, 250, 96, 0.637);
    margin-top: 1%;

    h1 {
        margin-left: 10%;
        color: map-get($map: $pallets, $key: primary);
    }

    h2 {
        color: aliceblue;
        font-size: medium;
        margin-top: 1%;
        margin-left: 10%;
    }
}

.div {
    text-align: center;

    .div__input {
        width: 75%;
    }
}

.form {

    text-align: center;
    color: rgb(235, 243, 237);
}

/* <!----------------------------------------// INICIAR SESION //----------------------------------------> */


.section__sesion {
    @include grilla(grid, 2, 1, 0%);
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    color: map-get($map: $pallets, $key: primary);
    font-size: larger;

    a {
        color: map-get($map: $pallets, $key: primary);
    }
}

.p__terminos {
    font-size: medium
}

select {
    margin-left: 25%;
}


/*-----------------------MEDIA QUERIE--------------------------------------------*/

@media only screen and (max-width: 991px) {

    /* <!----------------------------------------// Inicio //----------------------------------------> */


    .main a {
        position: fixed;
        top: 55%;
        left: 43%;
    }

    .index__container {
        @include grilla(grid, 3, 1, 5%);
        position: fixed;
        left: 5%;
    }

    /* <!----------------------------------------// TIENDA //----------------------------------------> */

    .tienda {
        section {
            @include grilla(grid, 3, 3, 5%);
            margin-top: 10%;
            grid-template-columns: repeat(auto-fit, minmax(186px, 2fr));
        }
    }
}


/*-----------------------MEDIA QUERIE--------------------------------------------*/

@media only screen and (max-width: 567px) {

    /* <!----------------------------------------// TIENDA //----------------------------------------> */


    .tienda {
        .field {
            width: 100%
        }

        section {
            @include grilla(grid, 1, 1, 1%);
            margin-top: 10%;

            img {
                width: 65%;
            }
        }
    }

    /* <!----------------------------------------// COMUNIDAD //----------------------------------------> */

    .comunidad {
        text-align: center;
        left: 32%;

        h1 {
            font-size: large
        }

        h2 {
            font-size: small
        }
    }

    .busqueda__comunidad {
        @include grilla(grid, 1, 2, 5%);


        input {
            width: 120%;
        }
    }

    .div__boton {
        position: relative;
        top: 20%;
        right: 5%;
    }

    .video {
        position: absolute;
        top: 120%;
        left: 25%;
    }

    /* <!----------------------------------------// INICIAR SESION //----------------------------------------> */

    .section__sesion {
        @include grilla(grid, 1, 2, 0%);
        margin-left: 5%;
        text-align: center;
        color: map-get($map: $pallets, $key: primary);
        font-size: larger;
    }

    .main__cuenta {
        margin-top: -10%;
    }

    .p__olvidado a {
        color: map-get($map: $pallets, $key: primary);
    }

    .p__terminos {
        font-size: medium
    }


    /* <!----------------------------------------// QUIENES_SOMOS //----------------------------------------> */

    .quienes {
        @include grilla(grid, 1, 1, 0%);
    }

    .h2__quienes {
        grid-column-start: 1;
        grid-row-start: 4;
        font-size: larger;
        text-align: center;
        color: map-get($map: $pallets, $key: primary);
        margin-left: 15%;
        height: 100%;
        width: 70%;

    }
}